* {
	margin: 0;
	padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #F7F8FA;
	background-color: #000000;
}

.App{
  position:relative;
  top: 0;
  left: 0;
  right: 0;
}

.fade-enter{
  opacity: 0;
}
.fade-exit{
  opacity: 1;
}
.fade-enter-active{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 400ms;
}

h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}

ul{
	margin: 0;
	padding:0;
	list-style: none;
}

a{
	margin:0;
	text-decoration: none;
}

a:hover{
	text-decoration:none;
}

a, select , input , textarea , button{
	outline: none !important;
}

.overflowX {
	overflow-x: hidden;
}

.overflowY {
	overflow-y: hidden;
}

.c_custom{
	max-width: 1640px !important;
}

.mt-220{
	margin-top: 220px;
}

.mt--150{
    margin-top: -150px;
}

.mt-lei-300{
	margin-top: 300px;
}

.pt-200{
    padding-top: 200px;
}

.py-st-300{
    padding: 300px 0;
}

.mt-300{
	margin-top: 300px;
}

/* buttons */
.btn-tag-1{
	padding: 20px 40px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
}

/* colors */
.c-tag-1{
	color: #F8F6F1 !important;
}

.c-tag-2{
	color: #a68260 !important;
}

.c-tag-3{
	color: #000000 !important;
}

.c-tag-4{
	color: #FFFFFF !important;
}

.c-tag-5{
    color: #27231F !important;
}

.c-tag-6{
    color: #444341 !important;
}

.c-tag-7{
    color: #222222 !important;
}
/* background */
.bg-tag-1{
	background-color: #a68260;
}

.bg-tag-2{
    background-color: #F8F6F1;
}

.bg-tag-3{
    background-color: #1C1A16;
}
/* fonts */
.sem-200 {
	font-family: 'Playfair Display', serif;
    font-size: 200px;
	font-weight: 600;
}

.sem-124{
	font-family: 'Playfair Display', serif;
	font-size: 124px;
	font-weight: 600;
	line-height: 124px;
	letter-spacing: -5px;
}

.sem-60{
	font-family: 'Playfair Display', serif;
	font-size: 60px;
	font-weight: 600;
}

.reg-30{
	font-family: 'Playfair Display', serif;
	font-size: 30px;
    line-height: 33px;
}

.reg-24{
	font-size: 24px;
	line-height: 36px;
}

.reg-22{
	font-size: 22px;
	line-height: 33px;
	letter-spacing: 2px;
}

.lit-23{
	font-size: 23px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 8px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.lit-23 {
        font-size: 16px;
        letter-spacing: 2px;
        line-height: 32px;
    }

    .sem-200 {
        font-size: 45px;
    }

	.sem-124 {
        font-size: 45px;
        line-height: 44px;
        letter-spacing: -1px;
    }

    .sem-60 {
        font-size: 34px;
    }

    .reg-22 {
        font-size: 14px;
        letter-spacing: 0px;
    }

    .reg-24 {
        font-size: 17px;
        line-height: 25px;
    }

  .btn-tag-1 {
      padding: 15px 16px;
  }

  .btn-tag-1:last-child {
      margin-top: 20px;
  }

  .mt-sep-300{
      margin-top: 0;
  }

    .mt-sep-130 {
        margin-top: 450px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .reg-24 {
        font-size: 19px;
    }
    
	.lit-23 {
        font-size: 18px;
        letter-spacing: 5px;
    }

    .sem-200 {
        font-size: 100px;
    }

	.sem-124 {
        font-size: 81px;
        line-height: 78px;
        letter-spacing: -3px;
    }

    .reg-22 {
        font-size: 18px;
        letter-spacing: 0px;
    }

    .mt--150 {
        margin-top: -50px;
    }
    
    .mt-lei-300{
        margin-top: 200px;
    }

    .h-sm{
        height: 700px;
    }
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .reg-24 {
        font-size: 19px;
    }

	.lit-23 {
        font-size: 18px;
        letter-spacing: 5px;
    }

    .sem-200 {
        font-size: 100px;
    }

	.sem-124 {
        font-size: 81px;
        line-height: 78px;
        letter-spacing: -3px;
    }

    .reg-22 {
        font-size: 18px;
        letter-spacing: 0px;
    }
    
    .mt-lei-300{
        margin-top: 200px;
    }

    .mt--150 {
        margin-top: 0px;
    }

    .mx-leder{
        margin-left: 1rem !important;
    }
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1299.98px) {
    .reg-24 {
        font-size: 19px;
    }

	.lit-23 {
        font-size: 18px;
        letter-spacing: 7px;
    }

    .sem-200 {
        font-size: 130px;
    }

	.sem-124 {
        font-size: 100px;
        line-height: 98px;
        letter-spacing: -6px;
    }

    .reg-22 {
        font-size: 18px;
        letter-spacing: 1px;
    }
    
    .mt-lei-300{
        margin-top: 200px;
    }

    .mt-sep-130 {
        margin-top: 50px;
    }

    .mt--150 {
        margin-top: 0px;
    }

    .mx-leder{
        margin-left: 1rem !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1300px) and (max-width: 1531.98px){
    .reg-24 {
        font-size: 21px;
    }

    .lit-23 {
        font-size: 20px;
        letter-spacing: 8px;
    }

    .sem-200 {
        font-size: 180px;
    }

	.sem-124 {
        font-size: 110px;
        line-height: 107px;
        letter-spacing: -6px;
    }

    .reg-22 {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .mt--150 {
        margin-top: -50px;
    }
    
    .mt-lei-300{
        margin-top: 200px;
    }

    .mt-sep-300{
        margin-top: 200px;
    }

    .mt-300 {
        margin-top: 200px;
    }

    .mt-sep-130 {
        margin-top: 50px;
    }

    .mx-leder{
        margin-left: 2rem !important;
    }
}
  
/* Extra large devices (large desktops, 1442px and up) */
@media (min-width: 1532px) and (max-width: 2499.99px) {
    
}

/* Extra large devices (large desktops, 1900px and up) */
@media (min-width: 2500px) {
	
}

  
/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 320px and below) *******/
@media (max-width: 320px) {
	.sem-124 {
        font-size: 37px;
        line-height: 37px;
    }

    .mt-lei-300{
        margin-top: 100px;
    }
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
	.sem-124 {
        font-size: 40px;
        line-height: 40px;
    }

    .mt-lei-300{
        margin-top: 100px;
    }
}
